@charset "utf-8";
table.wp-block-catpow-simpletable {
  width: 100%; }
  table.wp-block-catpow-simpletable tbody tr td {
    position: relative; }
    table.wp-block-catpow-simpletable tbody tr td .itemControl {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem; }
