@mixin wp_admin_color($b:b,$m:m,$a:a,$t:t,$i:i){
	
	$body-background:clr($b) !global;
	
	$link:clr($m) !global;
	$link-focus:clr($a) !global;
	$form-checked:clr($m) !global;
	$button-color:clr($m) !global;
	$text-color:clr($t) !global;
	$base-color:clr($b) !global;
	
	$highlight-color:clr($m) !global;
	
	$menu-highlight-background:clr($m) !global;
	$menu-highlight-icon:clr($i) !global;
	$menu-highlight-text:clr($i) !global;
	
	$menu-bubble-background:clr($b) !global;
	$menu-bubble-text:clr($t) !global;
	
	$menu-bubble-current-background:clr($m) !global;
	$menu-bubble-current-text:clr($i) !global;
	
	$menu-background:clr($b) !global;
	$menu-icon:clr($t) !global;
	$menu-text:clr($t) !global;
	
	$menu-submenu-background:clr($b) !global;
	$menu-submenu-icon:clr($t) !global;
	$menu-submenu-text:clr($t 100 .7) !global;
	
	$menu-submenu-focus-text:clr($m) !global;
	$menu-submenu-current-text:clr($m) !global;
	
	$menu-current-background:clr($m) !global;
	$menu-current-icon:clr($i) !global;
	$menu-current-text:clr($i) !global;
	
	
	$menu-collapse-text:clr($t) !global;
	$menu-submenu-background-alt:clr($b) !global;
	
	$adminbar-input-background:clr($b) !global;
	$adminbar-avatar-frame:clr($b) !global;
	
	
	
	@import "_admin.scss";
}