@mixin grd($grd){
	$keys:(
		t:grid-template,
		rc:grid-template-columns,
		rr:grid-template-rows,
		tc:grid-template-columns,
		tr:grid-template-rows,
		ac:grid-auto-columns,
		ar:grid-auto-rows,
		f:grid-auto-flow,
		j:justify-content,
		a:align-content,
		ji:justify-items,
		ai:align-items,
		g:grid-gap
	);
	$iekeys:(
		tc:-ms-grid-columns,
		tr:-ms-grid-rows,
	);
	$fvals:(c:column,r:row,d:dense);
	$jvals:(s:start,e:end,c:center,b:space-between,a:space-around,v:space-evenly);
	display:-webkit-grid;
	display:-ms-grid;
	display:grid;
	@each $key,$val in $grd{
		@if $key == rc or $key == rr{
			@if(type-of($val) == 'list'){
				$v:minmax(nth($val,1),1fr);
				$vals:();
				@for $i from 1 through nth($val,2){
					$vals:append($vals,$v);
				}
				$val:repeat(auto-fill,$vals)
			}
			@else{
				$val:repeat(auto-fill,minmax($val,1fr));
			}
		}
		@if $key == tc or $key == tr or
			$key == ac or $key == ar
			{$val:cp_get_size_values($val);}
		@if $key == j or $key == a or
			$key == ji or $key == ai
			{$val:map-get($jvals,$val);}
		@if $key == f{$val:map-get($fvals,$val);}
		@if map-has-key($iekeys,$key){#{map-get($iekeys,$key)}:$val;}
		@if map-has-key($keys,$key){#{map-get($keys,$key)}:$val;}
	}
}
