@mixin svg($svg){
	$keys:(f:fill,s:stroke,w:stroke-width,ta:text-anchor,db:dominant-baseline);
	$cvals:(m:square,b:butt,r:round);
	$jvals:(m:miter,b:bevel,r:round);
	$tavals:(l:start,c:middle,r:end);
	$dbvals:(t:baseline,m:middle,b:hanging);
	@each $key,$val in $svg{
		@if $key == f or $key == s {$val:cp_get_color($val);}
		@if $key == w{$val:cp_get_size_value($val);}
		@if $key == ta{$val:replace_values($val,$tavals);}
		@if $key == db{$val:replace_values($val,$dbvals);}
		@if $key == e{
			stroke-linecap:replace_values($val,$cvals);
			stroke-linejoin:replace_values($val,$jvals);
		}
		@if $key == d{
			@if type-of($val) =='list'{
				stroke-dasharray:nth($val,1);
				stroke-dashoffset:nth($val,2);
			}
			@else{
				stroke-dasharray:$val;
			}
		}
		@if map-has-key($keys,$key){#{map-get($keys,$key)}:$val;}
	}
}