@mixin tbl($tbl){
	$s:0;
	$r:0;
	$lvals:(a:auto,f:fixed);
	@each $key,$val in $tbl{
		@if $key == s{$s:$val;}
		@if $key == r{
			$r:$val;
			@include round_table($val);
		}
		@if $key == l{
			table-layout: map-get($lvals,$val);
		}
	}
	@if($s == 0 and $r == 0){border-collapse:collapse;border-spacing:0px;}
	@else{border-collapse:separate;border-spacing:cp_get_size_value($s);}
}

@mixin round_table($r:5){
	$r:cp_get_size_value($r);
	@include bdr((r:$r));
	tr:first-of-type{
		th,td{
			&:first-child{@include bdr((r:$r 0 0 0));}
			&:last-child{@include bdr((r:0 $r 0 0));}
		}
	}
	tr:last-of-type{
		th,td{
			&:first-child{@include bdr((r:0 0 0 $r));}
			&:last-child{@include bdr((r:0 0 $r 0));}
		}
	}
}