@mixin usr($usr){
	$keys:(c:cursor,e:pointer-events);
	$cvals:(p:pointer,w:wait);
	$evals:(a:auto,n:none);
	$svals:(n:none,a:all,t:text,c:contain);
	@each $key,$val in $usr{
		@if $key == c{$val:replace_values($val,$cvals);}
		@if $key == e{$val:replace_values($val,$evals);}
		@if $key == s{@include user-select(replace_values($val,$svals));}
		@if map-has-key($keys,$key){#{map-get($keys,$key)}:$val;}
	}
}


@mixin user-select($prm){
	-webkit-user-select:$prm;
	   -moz-user-select:$prm;
	    -ms-user-select:$prm;
	     -o-user-select:$prm;
	        user-select:$prm;
}
