@charset "utf-8";
ul.wp-block-catpow-formbuttons li.item {
  width: auto;
  margin: 20px auto;
  padding: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none; }
  ul.wp-block-catpow-formbuttons li.item > * {
    flex-grow: 1;
    box-sizing: border-box; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(2), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(2) ~ *:nth-child(-n + 2) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(2) ~ *:nth-child(n + 3) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(3), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(3) ~ *:nth-child(-n + 3) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(3) ~ *:nth-child(n + 4) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(4), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(4) ~ *:nth-child(-n + 4) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(4) ~ *:nth-child(n + 5) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(5), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(5) ~ *:nth-child(-n + 5) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(5) ~ *:nth-child(n + 6) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(6), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(6) ~ *:nth-child(-n + 6) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(6) ~ *:nth-child(n + 7) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(7), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(7) ~ *:nth-child(-n + 7) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(7) ~ *:nth-child(n + 8) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(8), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(8) ~ *:nth-child(-n + 8) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(8) ~ *:nth-child(n + 9) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(9), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(9) ~ *:nth-child(-n + 9) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(9) ~ *:nth-child(n + 10) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(10), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(10) ~ *:nth-child(-n + 10) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(10) ~ *:nth-child(n + 11) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(11), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(11) ~ *:nth-child(-n + 11) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(11) ~ *:nth-child(n + 12) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(12), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(12) ~ *:nth-child(-n + 12) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(12) ~ *:nth-child(n + 13) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(13), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(13) ~ *:nth-child(-n + 13) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(13) ~ *:nth-child(n + 14) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(14), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(14) ~ *:nth-child(-n + 14) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(14) ~ *:nth-child(n + 15) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(15), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(15) ~ *:nth-child(-n + 15) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(15) ~ *:nth-child(n + 16) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(16), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(16) ~ *:nth-child(-n + 16) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(16) ~ *:nth-child(n + 17) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(17), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(17) ~ *:nth-child(-n + 17) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(17) ~ *:nth-child(n + 18) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(18), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(18) ~ *:nth-child(-n + 18) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(18) ~ *:nth-child(n + 19) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(19), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(19) ~ *:nth-child(-n + 19) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(19) ~ *:nth-child(n + 20) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(20), ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(20) ~ *:nth-child(-n + 20) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item > *:first-child:nth-last-child(20) ~ *:nth-child(n + 21) {
    flex-basis: 100%; }
  ul.wp-block-catpow-formbuttons li.item .itemControl {
    position: absolute;
    top: -2rem;
    right: 0px; }
  ul.wp-block-catpow-formbuttons li.item div.button .action {
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 3px;
    font-size: 11px;
    line-height: 1em;
    letter-spacing: 0px;
    color: #444;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
    ul.wp-block-catpow-formbuttons li.item div.button .action::before {
      content: "\f013";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      display: inline-block;
      margin-right: 0.5em; }
